body,html {
    margin:0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

p {
    font-family: $p-font;
}

h1 {
    font-family: $h1-font;
}

h2,h3,h4 {
    font-family: $h2-font;
    margin: 0;
    padding: 0;
}
