
.steps {
    background-color: $bgDarkYellow;
    // top: -6em;
    transform: rotate(-8deg) skew(-8deg, 4deg);
    transform-origin: top left;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    z-index: 1;

    figure {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 8px;
        margin: 5em 17px 0 0;
        width: 20%;
        height: 8em ;
        box-shadow: 0 0 19px 2px rgba(black, .2);
        padding-top: 16px;

        img {
            height: 60px;
        }

        h3 {
          padding: 1em 0 0 .5em
        }
    }
}

@media only screen and (max-width: 40em){
    .steps{

        padding-top: 5em;
        figure {
            transform: rotate(8deg) skew(8deg, -4deg);
            transform-origin: top left;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
            width: 50%;
            height: 9em;
            vertical-align: top;
            margin-top: 2em;
            margin-bottom: 1em;

            p {
                text-align: center;
            }
            
        }
    }
}