@import url('https://fonts.googleapis.com/css?family=Roboto|Syncopate:700|ZCOOL+QingKe+HuangYou');

$h1-font : 'Syncopate', sans-serif;
$h2-font : 'ZCOOL QingKe HuangYou', cursive;
$p-font : 'Roboto', sans-serif;